<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_IhbMEMlDEeaIuZBFBv8OJg" specification="interface:&#xA;// Define events and&#xA;// and variables here&#xA;var push : integer=0&#xA;var trafficlight_active : boolean=false&#xA;in event evPushButton&#xA;in event dummy&#xA;operation toogleGreen():void&#xA;operation toogleYellow():void&#xA;operation toogleRed():void&#xA;operation offGreen():void&#xA;operation offYellow():void&#xA;operation offRed():void&#xA;operation onGreen():void&#xA;operation onYellow():void&#xA;operation onRed():void&#xA;&#xA;" name="ampel">
    <regions xmi:id="_Ih9-oMlDEeaIuZBFBv8OJg" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_Iie8AMlDEeaIuZBFBv8OJg">
        <outgoingTransitions xmi:id="_Y5yOEMwWEeawfNvlm0ub8g" specification="" target="_akp3oMwaEeawfNvlm0ub8g"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_akp3oMwaEeawfNvlm0ub8g" specification="entry / offRed()&#xA;entry / offGreen()&#xA;entry / offYellow()" name="off" incomingTransitions="_Y5yOEMwWEeawfNvlm0ub8g _isdw8ImcEeivOaGGzkcCEw">
        <outgoingTransitions xmi:id="_c72jEMwbEeawfNvlm0ub8g" specification="evPushButton " target="_54kmgMwaEeawfNvlm0ub8g"/>
        <regions xmi:id="_akqesMwaEeawfNvlm0ub8g" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_nKTwkMwaEeawfNvlm0ub8g" specification="entry / onYellow()" name="YellowOn" incomingTransitions="_1KdRkMwaEeawfNvlm0ub8g _bA5SQMwbEeawfNvlm0ub8g">
            <outgoingTransitions xmi:id="_zsPAEMwaEeawfNvlm0ub8g" specification="after 500ms" target="_t-uDoMwaEeawfNvlm0ub8g"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_t-uDoMwaEeawfNvlm0ub8g" specification="entry / offYellow()" name="YellowOff" incomingTransitions="_zsPAEMwaEeawfNvlm0ub8g">
            <outgoingTransitions xmi:id="_1KdRkMwaEeawfNvlm0ub8g" specification="after 500ms" target="_nKTwkMwaEeawfNvlm0ub8g"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_Z19JIMwbEeawfNvlm0ub8g">
            <outgoingTransitions xmi:id="_bA5SQMwbEeawfNvlm0ub8g" specification="" target="_nKTwkMwaEeawfNvlm0ub8g"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_54kmgMwaEeawfNvlm0ub8g" specification="entry / offRed()&#xA;entry / offGreen()&#xA;entry / offYellow()" name="on" incomingTransitions="_c72jEMwbEeawfNvlm0ub8g">
        <outgoingTransitions xmi:id="_isdw8ImcEeivOaGGzkcCEw" specification="evPushButton" target="_akp3oMwaEeawfNvlm0ub8g"/>
        <regions xmi:id="_54lNkswaEeawfNvlm0ub8g" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_tRdDsMlWEeaIuZBFBv8OJg" specification="entry / onGreen()&#xA;exit / offGreen()&#xA;" name="Green" incomingTransitions="_J-_QcMwbEeawfNvlm0ub8g _Vn0O4ImcEeivOaGGzkcCEw">
            <outgoingTransitions xmi:id="_LfBf0MwbEeawfNvlm0ub8g" specification="after 5s   " target="_CvMwUMwYEeawfNvlm0ub8g"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_CvMwUMwYEeawfNvlm0ub8g" specification="entry / onYellow()&#xA;exit  /offYellow()" name="Yellow" incomingTransitions="_LfBf0MwbEeawfNvlm0ub8g">
            <outgoingTransitions xmi:id="_Pfo88MwYEeawfNvlm0ub8g" specification="after 2s" target="_IihYQMlDEeaIuZBFBv8OJg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_IihYQMlDEeaIuZBFBv8OJg" specification="entry / onRed()&#xA;&#xA;" name="Red" incomingTransitions="_Pfo88MwYEeawfNvlm0ub8g">
            <outgoingTransitions xmi:id="_UYeG4ImcEeivOaGGzkcCEw" specification="after 5s" target="_PsSroImcEeivOaGGzkcCEw"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_I6jX8MwbEeawfNvlm0ub8g">
            <outgoingTransitions xmi:id="_J-_QcMwbEeawfNvlm0ub8g" specification="" target="_tRdDsMlWEeaIuZBFBv8OJg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_PsSroImcEeivOaGGzkcCEw" specification="entry / onYellow()&#xA;exit / offRed()&#xA;exit / offYellow()" name="RedYellow" incomingTransitions="_UYeG4ImcEeivOaGGzkcCEw">
            <outgoingTransitions xmi:id="_Vn0O4ImcEeivOaGGzkcCEw" specification="after 2s" target="_tRdDsMlWEeaIuZBFBv8OJg"/>
          </vertices>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_Ih9XkMlDEeaIuZBFBv8OJg" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_IhbMEMlDEeaIuZBFBv8OJg" measurementUnit="Pixel">
    <children xmi:id="_IiEFQMlDEeaIuZBFBv8OJg" type="Region" element="_Ih9-oMlDEeaIuZBFBv8OJg">
      <children xsi:type="notation:DecorationNode" xmi:id="_Iib4sMlDEeaIuZBFBv8OJg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Iib4sclDEeaIuZBFBv8OJg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Iib4sslDEeaIuZBFBv8OJg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_Iidt4MlDEeaIuZBFBv8OJg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_IifjEMlDEeaIuZBFBv8OJg" type="Entry" element="_Iie8AMlDEeaIuZBFBv8OJg">
          <children xmi:id="_IigKIMlDEeaIuZBFBv8OJg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_IigKI8lDEeaIuZBFBv8OJg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_IigKJMlDEeaIuZBFBv8OJg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_IigKJclDEeaIuZBFBv8OJg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_IigKIclDEeaIuZBFBv8OJg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IigKIslDEeaIuZBFBv8OJg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_IifjEclDEeaIuZBFBv8OJg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_IifjEslDEeaIuZBFBv8OJg" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IigKJslDEeaIuZBFBv8OJg" x="790" width="15" height="15"/>
        </children>
        <children xmi:id="_akrFwMwaEeawfNvlm0ub8g" type="State" element="_akp3oMwaEeawfNvlm0ub8g">
          <children xsi:type="notation:DecorationNode" xmi:id="_akrs0MwaEeawfNvlm0ub8g" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_akrs0cwaEeawfNvlm0ub8g"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_akrs0swaEeawfNvlm0ub8g"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_akrs08waEeawfNvlm0ub8g" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_akrs1MwaEeawfNvlm0ub8g" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_akrs1cwaEeawfNvlm0ub8g"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_akrs1swaEeawfNvlm0ub8g" type="StateFigureCompartment">
            <children xmi:id="_CQ8CIImOEeivOaGGzkcCEw" type="Region" element="_akqesMwaEeawfNvlm0ub8g">
              <children xsi:type="notation:DecorationNode" xmi:id="_CQ8CIYmOEeivOaGGzkcCEw" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_CQ8CIomOEeivOaGGzkcCEw"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_CQ8CI4mOEeivOaGGzkcCEw"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_CQ8CJImOEeivOaGGzkcCEw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_CQ8CJYmOEeivOaGGzkcCEw" type="State" element="_nKTwkMwaEeawfNvlm0ub8g">
                  <children xsi:type="notation:DecorationNode" xmi:id="_CQ8CJomOEeivOaGGzkcCEw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_CQ8CJ4mOEeivOaGGzkcCEw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_CQ8CKImOEeivOaGGzkcCEw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_CQ8CKYmOEeivOaGGzkcCEw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_CQ8CKomOEeivOaGGzkcCEw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CQ8CK4mOEeivOaGGzkcCEw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_CQ8CLImOEeivOaGGzkcCEw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_CQ8CLYmOEeivOaGGzkcCEw" fontName="Verdana" fillColor="65535" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_CQ8CLomOEeivOaGGzkcCEw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_CQ8CL4mOEeivOaGGzkcCEw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CQ8CMImOEeivOaGGzkcCEw" x="45" y="48" width="166" height="78"/>
                </children>
                <children xmi:id="_CQ8CMYmOEeivOaGGzkcCEw" type="State" element="_t-uDoMwaEeawfNvlm0ub8g">
                  <children xsi:type="notation:DecorationNode" xmi:id="_CQ8CMomOEeivOaGGzkcCEw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_CQ8CM4mOEeivOaGGzkcCEw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_CQ8CNImOEeivOaGGzkcCEw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_CQ8CNYmOEeivOaGGzkcCEw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_CQ8CNomOEeivOaGGzkcCEw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CQ8CN4mOEeivOaGGzkcCEw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_CQ8COImOEeivOaGGzkcCEw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_CQ8COYmOEeivOaGGzkcCEw" fontName="Verdana" fillColor="42495" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_CQ8COomOEeivOaGGzkcCEw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_CQ8CO4mOEeivOaGGzkcCEw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CQ8CPImOEeivOaGGzkcCEw" x="45" y="218" width="166" height="81"/>
                </children>
                <children xmi:id="_CQ8CPYmOEeivOaGGzkcCEw" type="Entry" element="_Z19JIMwbEeawfNvlm0ub8g">
                  <children xmi:id="_CQ8CPomOEeivOaGGzkcCEw" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_CQ8CP4mOEeivOaGGzkcCEw" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_CQ8CQImOEeivOaGGzkcCEw"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_CQ8CQYmOEeivOaGGzkcCEw"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_CQ8CQomOEeivOaGGzkcCEw" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CQ8CQ4mOEeivOaGGzkcCEw"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_CQ8CRImOEeivOaGGzkcCEw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_CQ8CRYmOEeivOaGGzkcCEw" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CQ8CRomOEeivOaGGzkcCEw" x="121" y="-22"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CQ8CR4mOEeivOaGGzkcCEw"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_CQ8CSImOEeivOaGGzkcCEw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CQ8CSYmOEeivOaGGzkcCEw"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_akrFwcwaEeawfNvlm0ub8g" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_akrFwswaEeawfNvlm0ub8g"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_aksT4MwaEeawfNvlm0ub8g" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_akrFw8waEeawfNvlm0ub8g" x="655" y="53" width="276" height="521"/>
        </children>
        <children xmi:id="_54l0oMwaEeawfNvlm0ub8g" type="State" element="_54kmgMwaEeawfNvlm0ub8g">
          <children xsi:type="notation:DecorationNode" xmi:id="_54l0pMwaEeawfNvlm0ub8g" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_54l0pcwaEeawfNvlm0ub8g"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_54l0pswaEeawfNvlm0ub8g"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_54l0p8waEeawfNvlm0ub8g" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_54mbsMwaEeawfNvlm0ub8g" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_54mbscwaEeawfNvlm0ub8g"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_54mbsswaEeawfNvlm0ub8g" type="StateFigureCompartment">
            <children xmi:id="_5ywzkImbEeivOaGGzkcCEw" type="Region" element="_54lNkswaEeawfNvlm0ub8g">
              <children xsi:type="notation:DecorationNode" xmi:id="_5ywzkYmbEeivOaGGzkcCEw" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_5ywzkombEeivOaGGzkcCEw"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_5ywzk4mbEeivOaGGzkcCEw"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_5ywzlImbEeivOaGGzkcCEw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_5ywzlYmbEeivOaGGzkcCEw" type="State" element="_tRdDsMlWEeaIuZBFBv8OJg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_5ywzlombEeivOaGGzkcCEw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_5ywzl4mbEeivOaGGzkcCEw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_5ywzmImbEeivOaGGzkcCEw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_5ywzmYmbEeivOaGGzkcCEw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_5ywzmombEeivOaGGzkcCEw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5ywzm4mbEeivOaGGzkcCEw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_5ywznImbEeivOaGGzkcCEw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_5ywznYmbEeivOaGGzkcCEw" fontName="Verdana" fillColor="32768" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_5ywznombEeivOaGGzkcCEw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_5ywzn4mbEeivOaGGzkcCEw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5ywzoImbEeivOaGGzkcCEw" x="4" y="-5" width="186" height="81"/>
                </children>
                <children xmi:id="_5ywzoYmbEeivOaGGzkcCEw" type="State" element="_CvMwUMwYEeawfNvlm0ub8g">
                  <children xsi:type="notation:DecorationNode" xmi:id="_5ywzoombEeivOaGGzkcCEw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_5ywzo4mbEeivOaGGzkcCEw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_5ywzpImbEeivOaGGzkcCEw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_5ywzpYmbEeivOaGGzkcCEw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_5ywzpombEeivOaGGzkcCEw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5ywzp4mbEeivOaGGzkcCEw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_5ywzqImbEeivOaGGzkcCEw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_5ywzqYmbEeivOaGGzkcCEw" fontName="Verdana" fillColor="65535" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_5ywzqombEeivOaGGzkcCEw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_5ywzq4mbEeivOaGGzkcCEw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5ywzrImbEeivOaGGzkcCEw" x="4" y="135" width="186" height="81"/>
                </children>
                <children xmi:id="_5ywzrYmbEeivOaGGzkcCEw" type="State" element="_IihYQMlDEeaIuZBFBv8OJg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_5ywzrombEeivOaGGzkcCEw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_5ywzr4mbEeivOaGGzkcCEw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_5ywzsImbEeivOaGGzkcCEw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_5ywzsYmbEeivOaGGzkcCEw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_5ywzsombEeivOaGGzkcCEw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5ywzs4mbEeivOaGGzkcCEw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_5ywztImbEeivOaGGzkcCEw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_5ywztYmbEeivOaGGzkcCEw" fontName="Verdana" fillColor="255" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_5ywztombEeivOaGGzkcCEw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_5ywzt4mbEeivOaGGzkcCEw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5ywzuImbEeivOaGGzkcCEw" x="4" y="265" width="186" height="81"/>
                </children>
                <children xmi:id="_5ywzuYmbEeivOaGGzkcCEw" type="Entry" element="_I6jX8MwbEeawfNvlm0ub8g">
                  <children xmi:id="_5ywzuombEeivOaGGzkcCEw" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_5ywzu4mbEeivOaGGzkcCEw" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_5ywzvImbEeivOaGGzkcCEw"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_5ywzvYmbEeivOaGGzkcCEw"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_5ywzvombEeivOaGGzkcCEw" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5ywzv4mbEeivOaGGzkcCEw"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_5ywzwImbEeivOaGGzkcCEw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_5ywzwYmbEeivOaGGzkcCEw" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5ywzwombEeivOaGGzkcCEw" x="84" y="-61"/>
                </children>
                <children xmi:id="_PsVH4ImcEeivOaGGzkcCEw" type="State" element="_PsSroImcEeivOaGGzkcCEw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_PsVH5ImcEeivOaGGzkcCEw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_PsVH5YmcEeivOaGGzkcCEw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_PsVH5omcEeivOaGGzkcCEw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_PsVu8ImcEeivOaGGzkcCEw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_PsVu8YmcEeivOaGGzkcCEw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_PsVu8omcEeivOaGGzkcCEw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_PsVu84mcEeivOaGGzkcCEw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_PsVH4YmcEeivOaGGzkcCEw" fontName="Verdana" fillColor="9019112" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_PsVH4omcEeivOaGGzkcCEw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_PsVu9ImcEeivOaGGzkcCEw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_PsVH44mcEeivOaGGzkcCEw" x="244" y="195" width="164" height="85"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5ywzw4mbEeivOaGGzkcCEw"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_5ywzxImbEeivOaGGzkcCEw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5yxaoImbEeivOaGGzkcCEw"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_54l0ocwaEeawfNvlm0ub8g" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_54l0oswaEeawfNvlm0ub8g"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_54mbs8waEeawfNvlm0ub8g" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_54l0o8waEeawfNvlm0ub8g" y="53" width="455" height="531"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Iidt4clDEeaIuZBFBv8OJg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_IiEsUMlDEeaIuZBFBv8OJg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IieU8MlDEeaIuZBFBv8OJg" x="250" y="-15" width="972" height="663"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_IiuzoMlDEeaIuZBFBv8OJg" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_IiuzoslDEeaIuZBFBv8OJg" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Iiuzo8lDEeaIuZBFBv8OJg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_IiuzpMlDEeaIuZBFBv8OJg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_IiuzpclDEeaIuZBFBv8OJg" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IiuzpslDEeaIuZBFBv8OJg"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IivasMlDEeaIuZBFBv8OJg" x="-5" y="-15" width="246" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_Ih9XkclDEeaIuZBFBv8OJg"/>
    <edges xmi:id="_Y50DQMwWEeawfNvlm0ub8g" type="Transition" element="_Y5yOEMwWEeawfNvlm0ub8g" source="_IifjEMlDEeaIuZBFBv8OJg" target="_akrFwMwaEeawfNvlm0ub8g">
      <children xsi:type="notation:DecorationNode" xmi:id="_Y50qUcwWEeawfNvlm0ub8g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Y50qUswWEeawfNvlm0ub8g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Y50qU8wWEeawfNvlm0ub8g" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Y50DQcwWEeawfNvlm0ub8g" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Y50qUMwWEeawfNvlm0ub8g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Y50DQswWEeawfNvlm0ub8g" points="[-2, 7, 31, -88]$[-16, 46, 17, -49]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Y52fgMwWEeawfNvlm0ub8g" id="(0.5,0.013435700575815739)"/>
    </edges>
    <edges xmi:id="_PfqLEMwYEeawfNvlm0ub8g" type="Transition" element="_Pfo88MwYEeawfNvlm0ub8g" source="_5ywzoYmbEeivOaGGzkcCEw" target="_5ywzrYmbEeivOaGGzkcCEw">
      <children xsi:type="notation:DecorationNode" xmi:id="_PfqLFMwYEeawfNvlm0ub8g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_PfqLFcwYEeawfNvlm0ub8g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_PfqLFswYEeawfNvlm0ub8g" y="-37"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_PfqLEcwYEeawfNvlm0ub8g" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_PfqLE8wYEeawfNvlm0ub8g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_PfqLEswYEeawfNvlm0ub8g" points="[-8, 9, 0, -55]$[-8, 63, 0, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_PfrZMMwYEeawfNvlm0ub8g" id="(0.543010752688172,0.8518518518518519)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WKMHYMwuEeawfNvlm0ub8g" id="(0.5161290322580645,0.19753086419753085)"/>
    </edges>
    <edges xmi:id="_zsQOMMwaEeawfNvlm0ub8g" type="Transition" element="_zsPAEMwaEeawfNvlm0ub8g" source="_CQ8CJYmOEeivOaGGzkcCEw" target="_CQ8CMYmOEeivOaGGzkcCEw">
      <children xsi:type="notation:DecorationNode" xmi:id="_zsQONMwaEeawfNvlm0ub8g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_zsQONcwaEeawfNvlm0ub8g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_zsQ1QMwaEeawfNvlm0ub8g" x="16" y="43"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_zsQOMcwaEeawfNvlm0ub8g" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_zsQOM8waEeawfNvlm0ub8g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_zsQOMswaEeawfNvlm0ub8g" points="[1, 10, 1, -51]$[1, 56, 1, -5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_zsSqcMwaEeawfNvlm0ub8g" id="(0.2,0.8113207547169812)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_zsSqccwaEeawfNvlm0ub8g" id="(0.2,0.11320754716981132)"/>
    </edges>
    <edges xmi:id="_1KefsMwaEeawfNvlm0ub8g" type="Transition" element="_1KdRkMwaEeawfNvlm0ub8g" source="_CQ8CMYmOEeivOaGGzkcCEw" target="_CQ8CJYmOEeivOaGGzkcCEw">
      <children xsi:type="notation:DecorationNode" xmi:id="_1KeftMwaEeawfNvlm0ub8g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_1KeftcwaEeawfNvlm0ub8g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_1KeftswaEeawfNvlm0ub8g" x="23" y="-43"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_1KefscwaEeawfNvlm0ub8g" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_1Kefs8waEeawfNvlm0ub8g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_1KefsswaEeawfNvlm0ub8g" points="[8, -9, 4, 61]$[8, -55, 4, 15]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_1Kft0MwaEeawfNvlm0ub8g" id="(0.7523809523809524,0.20754716981132076)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_1Kft0cwaEeawfNvlm0ub8g" id="(0.7904761904761904,0.6981132075471698)"/>
    </edges>
    <edges xmi:id="_J-_3gMwbEeawfNvlm0ub8g" type="Transition" element="_J-_QcMwbEeawfNvlm0ub8g" source="_5ywzuYmbEeivOaGGzkcCEw" target="_5ywzlYmbEeivOaGGzkcCEw">
      <children xsi:type="notation:DecorationNode" xmi:id="_J_AekcwbEeawfNvlm0ub8g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_J_AekswbEeawfNvlm0ub8g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_J_Aek8wbEeawfNvlm0ub8g" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_J-_3gcwbEeawfNvlm0ub8g" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_J_AekMwbEeawfNvlm0ub8g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_J-_3gswbEeawfNvlm0ub8g" points="[-5, 5, 36, -41]$[-31, 35, 10, -11]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_J_BssMwbEeawfNvlm0ub8g" id="(0.46236559139784944,0.06172839506172839)"/>
    </edges>
    <edges xmi:id="_LfCG4MwbEeawfNvlm0ub8g" type="Transition" element="_LfBf0MwbEeawfNvlm0ub8g" source="_5ywzlYmbEeivOaGGzkcCEw" target="_5ywzoYmbEeivOaGGzkcCEw">
      <children xsi:type="notation:DecorationNode" xmi:id="_LfCt8MwbEeawfNvlm0ub8g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_LfCt8cwbEeawfNvlm0ub8g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_LfCt8swbEeawfNvlm0ub8g" y="-40"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_LfCG4cwbEeawfNvlm0ub8g" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_LfCG48wbEeawfNvlm0ub8g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_LfCG4swbEeawfNvlm0ub8g" points="[-2, 18, 0, -76]$[-2, 82, 0, -12]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_LfDVAMwbEeawfNvlm0ub8g" id="(0.543010752688172,0.8148148148148148)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_LfDVAcwbEeawfNvlm0ub8g" id="(0.4838709677419355,0.08641975308641975)"/>
    </edges>
    <edges xmi:id="_bA6gYMwbEeawfNvlm0ub8g" type="Transition" element="_bA5SQMwbEeawfNvlm0ub8g" source="_CQ8CPYmOEeivOaGGzkcCEw" target="_CQ8CJYmOEeivOaGGzkcCEw">
      <children xsi:type="notation:DecorationNode" xmi:id="_bA6gZMwbEeawfNvlm0ub8g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_bA6gZcwbEeawfNvlm0ub8g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_bA6gZswbEeawfNvlm0ub8g" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_bA6gYcwbEeawfNvlm0ub8g" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_bA6gY8wbEeawfNvlm0ub8g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_bA6gYswbEeawfNvlm0ub8g" points="[-7, 2, 39, -10]$[-41, 6, 5, -6]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_bA8VkMwbEeawfNvlm0ub8g" id="(0.4879518072289157,0.0641025641025641)"/>
    </edges>
    <edges xmi:id="_c73xMMwbEeawfNvlm0ub8g" type="Transition" element="_c72jEMwbEeawfNvlm0ub8g" source="_akrFwMwaEeawfNvlm0ub8g" target="_54l0oMwaEeawfNvlm0ub8g">
      <children xsi:type="notation:DecorationNode" xmi:id="_c73xNMwbEeawfNvlm0ub8g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_c73xNcwbEeawfNvlm0ub8g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_c73xNswbEeawfNvlm0ub8g" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_c73xMcwbEeawfNvlm0ub8g" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_c73xM8wbEeawfNvlm0ub8g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_c73xMswbEeawfNvlm0ub8g" points="[-2, -4, 209, 0]$[-207, -4, 4, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_c74_UMwbEeawfNvlm0ub8g" id="(0.010471204188481676,0.37404580152671757)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_c74_UcwbEeawfNvlm0ub8g" id="(0.9912087912087912,0.3666026871401152)"/>
    </edges>
    <edges xmi:id="_UYgjIImcEeivOaGGzkcCEw" type="Transition" element="_UYeG4ImcEeivOaGGzkcCEw" source="_5ywzrYmbEeivOaGGzkcCEw" target="_PsVH4ImcEeivOaGGzkcCEw">
      <children xsi:type="notation:DecorationNode" xmi:id="_UYhKMYmcEeivOaGGzkcCEw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_UYhKMomcEeivOaGGzkcCEw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_UYhKM4mcEeivOaGGzkcCEw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_UYgjIYmcEeivOaGGzkcCEw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_UYhKMImcEeivOaGGzkcCEw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_UYgjIomcEeivOaGGzkcCEw" points="[12, 23, -134, 46]$[116, 23, -30, 46]$[116, -12, -30, 11]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_UYjmcImcEeivOaGGzkcCEw" id="(0.9354838709677419,0.2962962962962963)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_UYjmcYmcEeivOaGGzkcCEw" id="(0.47560975609756095,0.8705882352941177)"/>
    </edges>
    <edges xmi:id="_Vn2EEImcEeivOaGGzkcCEw" type="Transition" element="_Vn0O4ImcEeivOaGGzkcCEw" source="_PsVH4ImcEeivOaGGzkcCEw" target="_5ywzlYmbEeivOaGGzkcCEw">
      <children xsi:type="notation:DecorationNode" xmi:id="_Vn2EFImcEeivOaGGzkcCEw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Vn2EFYmcEeivOaGGzkcCEw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Vn2EFomcEeivOaGGzkcCEw" x="-21" y="42"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Vn2EEYmcEeivOaGGzkcCEw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Vn2EE4mcEeivOaGGzkcCEw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Vn2EEomcEeivOaGGzkcCEw" points="[0, 0, 93, 201]$[-88, -231, 5, -30]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Vn3SMImcEeivOaGGzkcCEw" id="(0.27439024390243905,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Vn3SMYmcEeivOaGGzkcCEw" id="(0.9408602150537635,0.3950617283950617)"/>
    </edges>
    <edges xmi:id="_isgNMImcEeivOaGGzkcCEw" type="Transition" element="_isdw8ImcEeivOaGGzkcCEw" source="_54l0oMwaEeawfNvlm0ub8g" target="_akrFwMwaEeawfNvlm0ub8g">
      <children xsi:type="notation:DecorationNode" xmi:id="_isgNNImcEeivOaGGzkcCEw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_isgNNYmcEeivOaGGzkcCEw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_isg0QImcEeivOaGGzkcCEw" x="-63" y="-4"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_isgNMYmcEeivOaGGzkcCEw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_isgNM4mcEeivOaGGzkcCEw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_isgNMomcEeivOaGGzkcCEw" points="[15, -1, -455, 42]$[470, -42, 0, 1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ishbUImcEeivOaGGzkcCEw" id="(0.9934065934065934,0.06779661016949153)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ishbUYmcEeivOaGGzkcCEw" id="(0.0,0.18042226487523993)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
